.container.index
  .col-xs-12
    h1
      strong Linguine
    p.lead
      | Linguine is an open-source application for natural language visualization and analysis.
      br
      | Created at the Rochester Institute of Technology.
.banner.index
  .container
    .row
      .col-xs-12.col-sm-6.vertical-center
        #graph
      .col-xs-12.col-sm-6.vertical-center
        h1.no-margin Visualize natural language data.
        h4 Create a term frequency–inverse document frequency (tf-idf) bubble chart in seconds. Data is tokenized using the Natural Language Toolkit (NLTK).
.container.index
  .col-xs-12.col-sm-6.vertical-center
    h1 Flexible corpora management.
    h4 Tag your corpora to select corpora by tags when generate analyses. Add, edit, and remove tags from multiple corpora at once.
  .col-xs-12.col-sm-6.vertical-center
    .col-xs-12.col-sm-12.col-md-6.col-md-6.col-md-offset-3
      .card
        h3.no-margin
          a The Odyssey
        h4(style="color: #000;") the_odyssey_homer.txt
