.container.app-container
  .input-group.input-group-lg
    .input-group-btn
      a(ng-href="analysis/new").new-corpus.btn.btn-primary
        | Create Analysis
    input.form-control(placeholder="Search by corpus name, analysis type..." ng-model="searchText")
  br
  div(ng-show="!analyses.length")
    alert(type='warning')
      | You haven't created any analyses.
  .list-group
    a.list-group-item(ng-class="{'analysis-disabled': !analysis.complete}" ng-repeat="analysis in analyses | orderBy:analysis.eta:true",ng-href="analysis/{{analysis._id}}")
      h4.list-group-item-heading
        strong {{ analysis.analysis_name }} {{ analysis.complete ? '' : '[INCOMPLETE]' }}
      p.list-group-item-text
        div(ng-repeat="corpora_id in analysis.corpora_ids") 
          span #[b Analysis]: {{analysis.analysis}}
          br
          span #[b Cleanups]:
          span(ng-repeat="cleanup in analysis.cleanup_ids")  {{cleanup}}
          br
          span #[b Tokenizer]: {{analysis.tokenizer}}
          br
          span #[b Time Created]: {{analysis.time_created}}
          p ETA: {{getEtaTime(analysis)}}
