.container.app-container
  form(ng-submit="onCreateAnalysis()")
    tabset(justified='true')
      tab(heading='1. Select Corpora')
        .list-group
          a.list-group-item(ng-repeat="corpus in corpora",ng-class="{active:corpus.active}",ng-click="onCorpusClick(this)")
            h4.list-group-item-heading
              strong {{ corpus.title }}
            p.list-group-item-text
              | {{ corpus.fileName }}

      tab(heading='2. Analysis Type')
        .list-group
          a.list-group-item(ng-repeat="analysis in analysisTypes",ng-class="{active:selectedAnalysis==analysis}",ng-click="onAnalysisClick(this)")
            h4.list-group-item-heading
              strong {{ analysis.name }}
            p.list-group-item-text
              | {{ analysis.description }}
        button.btn.btn-lg.btn-primary.full-width(type="submit") Create Analysis
      
      tab(id='preprocessing-tab' disabled="preprocessingActive" heading='3. Preprocessing' ng-click="onPreprocessingClick(this)")
        .list-group
          a.list-group-item(ng-repeat="cleanup in cleanupTypes",ng-class="{active:cleanup.active}",ng-click="onCleanupClick(this)")
            h4.list-group-item-heading
              strong {{ cleanup.name}}
            p.list-group-item-text
              | {{ cleanup.description}}

          a.list-group-item(ng-repeat="tokenizer in tokenizerTypes",ng-class="{active:selectedTokenizer==tokenizer}",ng-click="onTokenizerClick(this)")
            h4.list-group-item-heading
              strong {{ tokenizer.name }}
            p.list-group-item-text
              | {{ tokenizer.description }}
