.container.app-container
  .row
    .col-xs-12
      .pull-left
        h2.no-margin
          strong {{ analysis.analysis }} Analysis
      .pull-right
        btn.btn.btn-lg.btn-default(ng-click="back()") Back
        btn.btn.btn-lg.btn-default(ng-click="delete()")
          .glyphicon.glyphicon-trash
            br
  h4.no-margin(ng-repeat="corpora_id in analysis.corpora_ids") {{ findCorpus(corpora_id).title }} ({{findCorpus(corpora_id).fileName}})
  tabset(justified='true')
    tab(heading='Visualization')
      #graph
        div(ng-if="analysis.analysis == 'pos_tag'")
          div(ng-repeat="result in analysis.result",style="margin-top: 20px;")
            span(ng-repeat="tag in result.tags")
              span(style="padding: 10px; font-size: 22px;" tooltip="{{ tag[1] }}"){{ tag[0] }}
      tab(heading='Default View')
        .white.well
          div(id="jsoneditor", class="jsoneditor")
