.container.app-container
  .row
    .col-xs-12
      .pull-left
        h2.no-margin
          strong {{ analysis.analysis_name }}
      .pull-right
        btn.btn.btn-lg.btn-default(ng-click="back()") Back
        btn.btn.btn-lg.btn-default(ng-click="delete()")
          .glyphicon.glyphicon-trash
            br
  h6.no-margin(ng-repeat="corpora_id in analysis.corpora_ids") Corpora: {{ findCorpus(corpora_id).title }}
    br
    span #[b Analysis]: {{analysis.analysis}}
    br
    span #[b Cleanups]:
    span(ng-repeat="cleanup in analysis.cleanup_ids")  {{cleanup}}
    br
    span #[b Tokenizer]:  {{analysis.tokenizer}}
    br
    span #[b Time Created]:  {{showTimeCreated(analysis)}}

  tabset(justified='true')
    tab(heading='Visualization')
      div.dropdown
        button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Select Sentence 
          span.caret
        ul.dropdown-menu
          li(ng-repeat="result in analysis.result") 
            {{joinTokens(result.tokens)}}

      #graph
        div(ng-if="analysis.analysis == 'pos_tag'")
          div(ng-repeat="result in analysis.result",style="margin-top: 20px;")
            span(ng-repeat="tag in result.tags")
              span(style="padding: 10px; font-size: 22px;" tooltip="{{ tag[1] }}"){{ tag[0] }}

    tab(heading='Default View')
      .white.well
        div(id="jsoneditor", class="jsoneditor")
