h1 {{ corpus.title }}
  small  {{ corpus.fileName }}
  .btn-group.pull-right
    btn.btn.btn-lg.btn-default(ng-click="back()") Back
    btn.btn.btn-lg.btn-default(ng-click="delete()")
      .glyphicon.glyphicon-trash
.white.well
  | {{ corpus.contents }}
