* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input {
  margin-right: 10px;
}

.card {
  height: 175px;
  margin: 15px 0;
  padding: 15px;
  background-color: #f1f1f1;
}

.input-group-btn:first-child > .new-corpus {
  margin-right: 30px;
}

.corpora-search {
  padding: 0 15px;
  padding-bottom: 15px;
}

.no-margin {
  margin: 0;
}