@import url("https://fonts.googleapis.com/css?family=Lato:300");

* {
  font-family: 'Lato';
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  background: #e7e7e7;
}

input {
  margin-right: 10px;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0;
}

.app-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.avatar {
  height: 40px;
  left: -30px;
  top: 5px;
  position: absolute;
}

.banner {
  @brand-primary: #428bca;
  background-color: @brand-primary;
  background-image: linear-gradient(to bottom, darken(@brand-primary, 5%) 0, @brand-primary 100%);
  color: #fff;
  padding: 20px 0;
}

svg.bubble {
  height: 100%;
  width: 100%;
  max-height: 400px;
}

.card {
  height: 175px;
  margin: 15px 0;
  padding: 15px;
  background-color: #fff;
}

.input-group-btn:first-child > .new-corpus {
  margin-right: 30px;
}

.index {
  padding: 20px initial;
  @media(max-width: 768px) { // @screen-sm-min
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.footer {
  background-color: #666;
  padding: 50px 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.full-width {
  width: 100%;
}

.white {
  background-color: #fff;
}

.newlines {
  white-space: pre;
  word-wrap: break-word;
}

body {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.analysis-name-label {
  font-size: 24px;
  width: 50%;
  padding-bottom: 15px;
}

.analysis-name-text-field {
  text-align: center;
}

.flex-content {
  flex: 1;
  -webkit-flex: 1;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.corpora-subtitle {
  padding-left: 10px;
}

.jsoneditor {
  height: 600px !important;
}

.graph{
  padding-top:20px;
}