.container
  alert(type='info' ng-show='flash.info.getMessage()')
    | {{ flash.info.getMessage() }}
  alert(type='success' ng-show='flash.success.getMessage()')
    | {{ flash.success.getMessage() }}
  alert(type='warning' ng-show='flash.warning.getMessage()')
    | {{ flash.warning.getMessage() }}
  alert(type='danger' ng-show='flash.danger.getMessage()')
    | {{ flash.danger.getMessage() }}
